# This workflow will:
#
# 1) Install Python dependencies
# 2) Examines source code formatting and linting
# 3) Tun test cases
#
# For more information see:
# https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: RequestsStampede PyPI Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-lates
    
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python Version 3.9
        uses: actions/setup-python@v2
        with:
          python-version: 3.9

      - name: Install release dependencies
        run: |
          pip install --upgrade pip
          if [ -f release-requirements.txt ]; then pip install -r release-requirements.txt; fi

      - name: Build release
        run: |
          python3 setup.py sdist bdist_wheel;
      
      - name: Upload release to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
          TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: |
          twine upload dist/*
